@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

body {
  background-color: rgb(255, 255, 255);
}

:root {
  --btn-font-size: 1.25rem;
  --btn-font-weight: 600;
}

button {
  font-size: 1.25rem;
  border-radius: 10px;
  cursor: pointer;
}

button > a {
  text-decoration: none;
  font-weight: var(--btn-font-weight);
}

.btn {
  padding: 12px 20px;
  font-size: 1.25rem;
}

p {
  color: rgb(13, 19, 33);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 37px;
  color: rgb(13, 19, 33);
}

h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 36px;
}
