.target {
  width: 70%;
  margin: 0 auto 7.5%;
  text-align: center;
}

.target .target-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  text-align: left;
}

.target .target-cards .target-card {
  padding: 40px;
  border-radius: 16px;
}

.target .target-cards .target-card:nth-child(1) {
  background: rgba(255, 76, 30, 0.05);
}

.target .target-cards .target-card:nth-child(2) {
  background: rgba(0, 76, 232, 0.05);
}

.target .target-cards .target-card:nth-child(3) {
  background: rgba(255, 223, 0, 0.05);
}

.target .target-cards .target-card img {
  width: 20%;
  max-width: 60px;
  min-width: 30px;
}

.target .target-cards .target-card p {
  margin-bottom: 22px;
}

.target .target-cards button {
  padding: 0;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  font-weight: 700;
}

.target .target-card button a {
  color: rgb(13, 19, 33);
}
